/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000000;
	color: #fff;
}

@tailwind components;

@tailwind utilities;
